/**
 * CONTENTS
 *
 * SETTINGS
 * Global
 *
 * BASE
 * Section: 	Lead to Center
 * Section:		Formsheet
 * Article: 	Form
 * Aside:			Marketing
 *
 * Header
 * Footer
 *
 */


/*----------------------------
  #GLOBAL
----------------------------*/
body * {
	font-family: 'Nunito', sans-serif;
	line-height: 1.4
}


/*----------------------------
  #LEAD TO CENTER
----------------------------*/

#lead_to_center {
	width: 800px;
	margin: auto;
	padding-right: 10px;
}

/*----------------------------
  #HEADER
----------------------------*/

header {
  background-color: #fff;
  padding-top: 62px;
  margin-bottom: 10px;
}

.home--logo-mint {
	display: inline-block
}

.user--access {
  list-style-type: none;
  float: right;
  margin-top: 20px;
  margin-right: 6px;
  color: #333;
}

.user--button-signup {
	display: inline-block;
	font-weight: bold;
}

.user--button-login {
	display: inline-block;
	padding-left: 6px;
	margin-left: 6px;
	border-left: 1px solid #ccc;
}

/*----------------------------
  #SECTION FORMSHEET
----------------------------*/

.user--formsheet {
	padding-bottom: 50px;
	border: 1px solid #eee;
	border-radius: 2px;
	box-shadow: 2px 1px 4px 1px #ddd;
	/*background-color: #FFBDBD;*/
	background-color: #fff;
	overflow: hidden;
}

/*----------------------------
  #ARTICLE FORM
----------------------------*/
.user--form {
	background-color: white;
	min-height: 330px;
	display: block;
	float: left;
	padding-top: 50px;
	padding-left: 50px;
	line-height:1.4;
}

.user--form-blurb {
	width: 400px;
	padding-bottom: 30px;
	font-size: 30px;
	color: #111;
}

label {
	display: block;
	padding-top: 20px;
	font-size: 15px;
	color: #444;
}

input {
	display: block;
}

.user--form-textfield {
	width: 300px;
	height: 28px;
	margin-top: 10px;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
}

/*===========================
   A REALLY NICE LIME GREEN

.spare {
	background-color: #a6df7f
}
============================*/

.user--form-remember_user_details {
	margin-top: 10px;
}

.user--form-checkbox_remember_me{
	display: inline-block;
}

.user--form-text_remember_me {
	display: inline-block;
	font-size: 13px;
}

.user--form-submit_button {
	background-color: #45CAE6;
	margin-top: 20px;
	padding: 4px 14px 4px 14px;
	border: none;
	border-radius: 2px;
	color: #fff;
	text-align: center;
	
}

.user--form-terms_and_conditions {
	margin-top: 10px;
	font-size: 13px;
	color: #aaa;
}

.user--form-link_to_legalities {
	text-decoration: none;
	color: #45CAE6;
}

/*----------------------------
  #ASIDE MARKETING
----------------------------*/
.user--marketing-frame {
	width: 200px;
	float: right;
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 20px;
	overflow: hidden;
	border-left: 2px solid #ccc;
	/*background-color: #a6df7f;*/
	background-color: white;
}

.user--marketing {
	width: 160px;
	height: 500px;
	float: right;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 20px;
	background-color: #F5F5F5;
	color: #777;
}

.user--marketing-love_it {
	font-size: 18px;
}

.user--marketing-benefits {
	margin-left: 20px;
	list-style-type: disc;
	font-size: 12px;
}

.user--marketing-link {
	color: #777;
}

/*----------------------------
  #FOOTER
----------------------------*/

/*----------------------------
	#JUNK	
----------------------------*/